* {
    box-sizing: border-box;
}

html {
    padding : 0px;
    margin : 0px;
    overflow-x: hidden;
}

body {
    margin: 0px;
    padding: 0px;
    background : #101010;
    color : #00ffff;
	font-family: arial;
	/** font-size: 12px; **/
	/** overflow-x: hidden; **/
	margin-top: 84px;
	width: 100%;
	height: 100%;
}

.container {
    padding: 10px;
    width: auto;
}

.container-fluid {
    padding: 0px;
    width: auto;
}

.container-page {
	padding: 10px;
	width: 1000px;
	margin: auto;
}

.sidebar-fixed {
	position: absolute;
	left: 0px;
	top: 50px;
	bottom: 0px;
	width: 20%;
    background-color: #333;
}

/*      layout stuff        */

.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
/*    padding: 15px;
    border: 1px solid red; */
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*      design elements      */

.panel {
    margin: 0px;
    padding: 12px;
    background-color: #222;
    display: block;
    clear: both;
}
.panel:after {
    clear:both;
}

.panel-content {
	margin: 5px;
	padding: 5px;
}

.panel-heading {
    margin: 0px 0px 12px 0px;
    font-size: inherit;
    font-weight: bold;
}

.well {
    margin: 0px;
    padding: 12px;
    background-color: #000;
    display: block;
    clear: both;
}

/*      navigation      */

#topnav {
	position: fixed;
	display: block;
	top: 0;
	width: 100%;
}
#topmenu {
	position: fixed;
	display: block;
	top: 42px;
	width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover:not(.active) {
    background-color: #111;
}
nav .active {
    background-color: #4CAF50;
}
nav ul li ul {
    display: inline-block;
}
nav ul li ul li {
    display: none;
}
nav ul li ul:hover, nav ul li ul li{
	display: block;
}

#sidebar {
	position: absolute;
	top: 50px;
	left: 0px;
	bottom: 0px;
	width: 250px;
	background-color: white;
	overflow: hidden;
}

/*      buttons and links       */

button {
	border: none;
}

.button {
    display: flex;
}

a.button:link , a.button:visited, button.button {
    background-color: #f44336;
    color: white;
    padding: 12px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.button:hover, a.button:active {
    background-color: red;
}

/*      forms      */

input {
	font-size: inherit;
	background: #202020;
	color: #20ffff;
}

input[type=text], input[type=password], input[type=number], input[type=email], input[type=tel], textarea {
    border: none;
    border-bottom: 2px solid red;
    padding: 12px 14px;
    display: block;
    min-width: 200px;
    width: 100%;
}

input[type=button], input[type=submit], input[type=reset] {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 12px 14px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=button], input[type=submit], input[type=reset] .dark {
	background-color: #303030;
}

textarea {
	font-size: inherit;
	background: #202020;
	color: #20ffff;
	display: block;
	border: none;
	border-bottom: 2px solid red;
	padding: 12px 14px;
}

.inline input, .inline a {
	display: inline-block;
}
.fullwidth > form > input {
	width: 100%;
}

/** Custom Classes **/

.product {
	border: 1px solid red;
	padding: 20px;
}
#posts {
	padding: 20px;
}
.post {
	color: white;
	margin-bottom: 30px;
}


.vertical-menu a {
  background-color: #eee; /* Grey background color */
  color: black; /* Black text color */
  display: block; /* Make the links appear below each other */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove underline from links */
}

.vertical-menu a:hover {
  background-color: #ccc; /* Dark grey background on mouse-over */
}

.vertical-menu a.active {
  background-color: #4CAF50; /* Add a green color to the "active/current" link */
  color: white;
}

table, th, td {
  border: 0px solid black;
  border-collapse: collapse;
}
table {
	border-spacing: 5px;
}
th, td {
	padding: 10px;
	text-align: left;
}
tr:nth-child(even) {background-color: #151515;}
tr:hover {
	background-color: #000;
	border-bottom: 1px solid red;
}
tr.selected {
	background-color: #000c7a;
}
